.body {
  text-align: center;
}

.form {
  /* display: flex;
  flex-direction: row; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.registration-form {
  background-color: #1a535c;
  border-radius: 4px;
  margin: 0px 20px;
  padding: 20px;
  text-align: center;
  width: 500px;
}

.form-input {
  margin: 5px 0;
  padding: 10px;
  width: 50%;
  border-radius: 4px;
}

.btn {
  border: none;
  padding: 10px 20px;
  background-color: #eeeeee;
  color: #3e4238;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

#email {
  width: 100%;
}

/* mobile viewport styles */
@media screen and (max-width: 676px) {
  .registration-form {
    width: 90%;
  }

  .form-input {
    width: 80%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
